.login-page {
    background-image: url('/public/images/mike-kenneally-TD4DBagg2wE-unsplash.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;

    
  }
  